<div class="jumbotron">
    <div class="container">
        <button translate *ngIf="!editMode  && auth.currentUser.role == 'Student'" (click)="editMode = true" style="float : right" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</button>
        <button translate *ngIf="editMode  && auth.currentUser.role == 'Student'" (click)="save(student, education)" style="float : right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <h2 translate>Education</h2>
        <ul class="timeline">
            <li *ngIf="education[0]">
                <div *ngIf="education[0]" class="timeline-badge">
                    <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div *ngIf="education[0]" class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode" [(ngModel)]="education[0].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode">{{education[0].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode" [(ngModel)]="education[0].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{education[0].institution}}</p>
                    </div>
                    <div *ngIf="education[0]" class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[0].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[0].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[0].date_from}} - {{education[0].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>

            <li *ngIf="student.countEducation >= 1 && education[1]" class="timeline-inverted">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle invert" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode " [(ngModel)]="education[1].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode ">{{education[1].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode " [(ngModel)]="education[1].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode ">{{education[1].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[1].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[1].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[1].date_from}} - {{education[1].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>


            <li *ngIf="education[2] && student.countEducation >= 2" >
                <div class="timeline-badge">
                    <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode" [(ngModel)]="education[2].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode">{{education[2].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode" [(ngModel)]="education[2].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{education[2].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[2].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[2].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[2].date_from}} - {{education[2].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>

            <li *ngIf="student.countEducation >= 3 && education[3]" class="timeline-inverted">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle invert" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode " [(ngModel)]="education[3].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode ">{{education[3].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode " [(ngModel)]="education[3].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode ">{{education[3].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[3].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[3].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[3].date_from}} - {{education[3].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>


            <li *ngIf="education[4] && student.countEducation >= 4">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode" [(ngModel)]="education[4].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode">{{education[4].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode" [(ngModel)]="education[4].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{education[4].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[4].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[4].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[4].date_from}} - {{education[4].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>

            <li *ngIf="student.countEducation >= 5 && education[5]" class="timeline-inverted">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle invert" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode " [(ngModel)]="education[5].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode ">{{education[5].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode " [(ngModel)]="education[5].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode ">{{education[5].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[5].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[5].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[5].date_from}} - {{education[5].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>


            <li *ngIf="education[6] && student.countEducation >= 6">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode" [(ngModel)]="education[6].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode">{{education[6].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode" [(ngModel)]="education[6].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{education[6].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[6].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="education[6].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[6].date_from}} - {{education[6].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>

            <li *ngIf="student.countEducation >= 7 && education[7]" class="timeline-inverted">
                <div class="timeline-badge">
                    <a><i class="fa fa-circle invert" id=""></i></a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            <textarea *ngIf="editMode " [(ngModel)]="education[7].type" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                            <p *ngIf="!editMode ">{{education[7].type}}</p>
                        </h4>
                    </div>
                    <div class="timeline-body">
                        <textarea *ngIf="editMode " [(ngModel)]="education[7].institution" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode ">{{education[7].institution}}</p>
                    </div>
                    <div class="timeline-footer">
                        <div class="text-right">
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[7].date_from" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                            </jqxDateTimeInput>
                            <jqxDateTimeInput #myDateTimeInput *ngIf="editMode " [(ngModel)]="education[7].date_until" placeholder="Education experiences" rows="1" cols="40" (keyup.enter)="save()"
                                [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                            </jqxDateTimeInput>
                            <p *ngIf="!editMode">{{education[7].date_from}} - {{education[7].date_until}}</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="clearfix no-float"></li>
        </ul>
        <button translate *ngIf="editMode" class="btn btn-sm btn-success" (click)="add(student)" style="float : right"><i class="fa fa-plus"></i>Add</button>
        <button translate *ngIf="editMode" class="btn btn-sm btn-danger" (click)="delete(student)" style="float : right"><i class="fa fa-trash"></i>Delete</button>
    </div>
</div>
