<div class="profile-component" *ngIf="auth.currentUser.companyId == company_id || auth.currentUser.role =='Student' || auth.currentUser.admin == '1'">

    <div *ngIf="priority == 'ONDERNEMERSDAG' && auth.currentUser.role == 'Company'"> <p> If you want to have a profile page so you can add vacatures for students to find you, please contact Industria!</p> </div>

    <div *ngIf="priority == 'ONDERNEMERSDAG' && auth.currentUser.role == 'Student'"> <p> This company doesn't have a profile page</p> </div>

    <div *ngIf="company && priority != 'ONDERNEMERSDAG'">
        <profile-header-company class="component" [company]="company" id="company-header"></profile-header-company>
    </div>

    <div *ngIf="company && priority != 'ONDERNEMERSDAG'">
        <profile-bio-company class="component" [company]="company" id="company-bio"></profile-bio-company>
    </div>

    <div *ngIf="company && priority != 'ONDERNEMERSDAG'">
        <profile-vacature-company class="component" [company]="company" [vacatures]="vacatures" id="company-vacature"></profile-vacature-company>
    </div>

    <div *ngIf="company && priority != 'ONDERNEMERSDAG'">
        <profile-contact-company class="component" [company]="company" [contacts]="contacts" id="company-contact"></profile-contact-company>
    </div>

    <profile-footer class="component"></profile-footer>

</div>

<div  *ngIf="(auth.currentUser.companyId != company_id && auth.currentUser.companyId != 0 && auth.currentUser.admin != '1')">
  <app-not-found> </app-not-found>
</div>
