$darken-percentage: 5%;

a {
  margin-top: 10px;
}

td {
  width: 20%;
}

img{
  width: 100%;
  height: auto;
}


table {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5%;
  background-color: white;
}

#profilepic{
  max-height: 400px;
  max-width: 400px;
}

#editText{
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  height: 50px;
}

#editName{
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  height: 90px;
}

#divprofile{
  padding-left: 40px;
}

#checkboxCV{
  background-color: #888888;
  border: 2px solid #828282;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.20rem;
}



@mixin btn-variant($bg-color, $icon) {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: "FontAwesome";
  background-color: $bg-color;
  &:before {
    content: $icon;
    margin-right: 5px;
  }
  &:hover {
    background-color: darken($bg-color, $darken-percentage)
  }
}

/* Facebook */
$color-facebook: #3b5998;
$icon-facebook: "\f09a";
.btn-facebook {
  @include btn-variant($color-facebook, $icon-facebook);
}
/* End Facebook */

/* Twitter */
$color-twitter: #00aced;
$icon-twitter: "\f099";
.btn-twitter {
  @include btn-variant($color-twitter, $icon-twitter);
}
/* End Twitter */

/* Google+ */
$color-google-plus: #dd4b39;
$icon-google-plus: "\f0d5";
.btn-google-plus {
  @include btn-variant($color-google-plus, $icon-google-plus);
}
/* End Google+ */

/* LinkedIn */
$color-linkedin: #007bb6;
$icon-linkedin: "\f0e1";
.btn-linkedin {
  @include btn-variant($color-linkedin, $icon-linkedin);
}
/* End LinkedIn */

.floatleft{
  float: left;
}

.floatright{
  float: right;
}

#span1{
  color:#984444;
}
