<div class="jumbotron" style="background-color:white">
  <button translate *ngIf="editMode" (click)="save(student)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
  <button translate *ngIf="!editMode" (click)="edit()" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
  <h2 translate>Experience</h2>
  <table>
    <thead class="thead-default" >
      <tr>
        <th>Function</th>
        <th>Description</th>
        <th>Period</th>
      </tr>
    </thead>
    <tr *ngFor="let experience of experiences; let i = index">
        <td *ngIf="i%3===0">
          <p *ngIf="!editMode">{{student.experiences[i + 3]}}</p>
          <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 3]"></textarea>
        </td>
        <td *ngIf="i%3===0">
          <p *ngIf="!editMode">{{student.experiences[i + 4]}}</p>
          <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 4]"></textarea>
        </td>
        <td *ngIf="i%3===0">
          <p *ngIf="!editMode">{{student.experiences[i + 5]}}</p>
          <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 5]"></textarea>
        </td>
    </tr>
    <br><br>   
  </table>

  <div class="card">
      <div class="card-header"><h4>Add a new Experience</h4></div>
      <div class="card-block">
        <div class="row">
          <input placeholder="Function" [(ngModel)]="exp1">
          <textarea placeholder="Description" [(ngModel)]="exp2" rows="1" cols="50"></textarea>
        </div>
        <br>
        <input placeholder="Period" [(ngModel)]="exp3">
        <button (click)="addExperience(exp1,exp2,exp3)"  class="btn btn-primary" type="submit" style="float: right"><i class="fa fa-floppy-o"></i> Add</button>
      </div>
    </div>
</div>