<div class="jumbotron" style="background-color:white">
  <button translate *ngIf="editMode" (click)="save(student)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
  <button translate *ngIf="!editMode" (click)="editMode = true" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
  <h2 translate>Experience</h2>
  <table>
    <thead class="thead-default" >
      <tr>
        <th>Function</th>
        <th>Description</th>
        <th>Period</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr *ngFor="let experience of experiences; let i = index">
        <td *ngIf="i%3===0">
          {{student.experiences[i]}}
        </td>
        <td *ngIf="i%3===0">
          {{student.experiences[i + 1]}}
        </td>
        <td *ngIf="i%3===0">
          {{student.experiences[i + 2]}}
        </td>
        <td *ngIf="i%3===0">
          <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
        </td>
    </tr>
    <br><br>   
  </table>
</div>