#firstpage{
    width: 800px;
    margin-top: 30px;
}

#languageselector{
    width: 60px;
    height: 30px;
    font-size: 13px;
    float: right;
    margin-top: 2%;
}

#background-img{
    background-image: url(../../assets/img/GroepT.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    z-index: -10;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

p {
  margin-left:8%;
}

.jumbotron {
  display : flex;
}

.divA {
  font-size: 30px;
}
