<div class="jumbotron" style="background-color:white">
  <div class="container">
    <button translate *ngIf="editMode  && auth.currentUser.role == 'Student'" (click)="save(student, exp1, exp2, exp3)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
    <button translate *ngIf="!editMode  && auth.currentUser.role == 'Student'" (click)="edit()" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
    <h2 translate>Experience</h2>
    <table class="table table-bordered">
      <thead class="thead-default" >
        <tr>
          <th translate>Function</th>
          <th translate>Description</th>
          <th translate>Period</th>
        </tr>
      </thead>
      <tr *ngFor="let experience of experiences; let i = index">
          <td>
            <p>{{experiences[i].function}}</p>
            <!-- <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 3]"></textarea> -->
          </td>
          <td>
            <p>{{experiences[i].description}}</p>
            <!-- <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 4]"></textarea> -->
          </td>
          <td>
            <p>{{experiences[i].period}}</p>
            <!-- <textarea *ngIf="editMode" [(ngModel)]="student.experiences[i + 5]"></textarea> -->
          </td>
      </tr>

      <tr *ngIf="addClicked">
          <td><textarea *ngIf="editMode" [(ngModel)]="exp1"></textarea></td>
          <td><textarea *ngIf="editMode" [(ngModel)]="exp2"></textarea></td>
          <td><textarea *ngIf="editMode" [(ngModel)]="exp3"></textarea></td>
      </tr>
    </table>

    <button *ngIf="editMode && !addClicked" (click)="deleteExperience()"  class="btn btn-sm btn-danger" type="submit" style="float: right"><i class="fa fa-plus"></i> Delete</button>
    <button *ngIf="editMode && !addClicked" (click)="addClicked = true"  class="btn btn-sm btn-success" type="submit" style="float: right"><i class="fa fa-trash"></i> Add</button>
  </div>
</div>
