<div class="jumbotron" id="div1">
  <div class="container">
    <button translate *ngIf="editMode  && auth.currentUser.role == 'Student'" (click)="save(student, experiences, exp1, exp2, exp3)" class="btn btn-sm btn-primary floatright"><i class="fa fa-floppy-o"></i> Save</button>
    <button translate *ngIf="!editMode  && auth.currentUser.role == 'Student'" (click)="edit()" class="btn btn-sm btn-primary floatright"><i class="fa fa-pencil"></i> Edit</button>
    <h2 translate>Experience</h2>
    <table class="table table-bordered">
      <thead class="thead-default" >
        <tr>
          <th translate>Function</th>
          <th translate>Description</th>
          <th translate>Period</th>
        </tr>
      </thead>
      <tr *ngFor="let experience of experiences; let i = index">
          <td *ngIf="!editMode">
            <p>{{experiences[i].function}}</p>
          </td>
          <td *ngIf="!editMode">
            <p>{{experiences[i].description}}</p>
          </td>
          <td *ngIf="!editMode">
            <p>{{experiences[i].period}}</p>
          </td>

          <td *ngIf="editMode"><textarea [(ngModel)]="experiences[i].function"></textarea></td>
          <td *ngIf="editMode"><textarea [(ngModel)]="experiences[i].description"></textarea></td>
          <td *ngIf="editMode"><textarea [(ngModel)]="experiences[i].period"></textarea></td>

      </tr>

      <tr *ngIf="addClicked">
          <td><textarea *ngIf="editMode" [(ngModel)]="exp1"></textarea></td>
          <td><textarea *ngIf="editMode" [(ngModel)]="exp2"></textarea></td>
          <td><textarea *ngIf="editMode" [(ngModel)]="exp3"></textarea></td>
      </tr>
    </table>

    <button *ngIf="editMode && !addClicked" (click)="deleteExperience()"  class="btn btn-sm btn-danger floatright" type="submit"><i class="fa fa-plus"></i> Delete</button>
    <button *ngIf="editMode && !addClicked" (click)="addClicked = true"  class="btn btn-sm btn-success floatright" type="submit"><i class="fa fa-trash"></i> Add</button>
  </div>
</div>
