#languageText{
    padding-right: 100px;
}

#languageTitle{
    font-size: 20px;
}

.floatright {
  float : right;
}

#div1 {
  display:inline-block;
  padding:1%
}

.margin-top10 {
  margin-top: 10%;
}

.width250 {
  width: 250px;
}

.font-size20 {
  font-size: 20px
}
