<div>


  <ul class="nav nav-tabs table-responsive" role="tablist" style="background-color: #f7f7f9;">
    <li class="nav-item">
      <a translate class="nav-link active" data-toggle="tab" href="#addAdmin" role="tab">Add Admin</a>
    </li>
    <li class="nav-item">
      <a translate class="nav-link" data-toggle="tab" href="#company" role="tab">Add Companies</a>
    </li>
    <li class="nav-item">
      <a translate class="nav-link" data-toggle="tab" href="#priority" role="tab">Company Priorities</a>
    </li>
    <li class="nav-item">
      <a translate class="nav-link" data-toggle="tab" href="#parameter" role="tab">Parameters</a>
    </li>
    <li class="nav-item">
      <a translate class="nav-link" data-toggle="tab" href="#contact" role="tab">Company Contact</a>
    </li>
  </ul>

  <div class="tab-content table-responsive" style="padding:2%">


    <div class="tab-pane active" id="addAdmin" role="tabpanel">
      <table>
        <thead class="thead-default">
          <tr>
            <th translate>Username</th>
            <th translate>Remove as admin</th>
          </tr>
        </thead>
        <tr *ngFor="let item of admins">
          <td>{{item.email}}</td>
          <td><button translate class="btn btn-danger" (click)="deleteAdmin(item)">Delete</button> </td>
        </tr>
        <br><br>
      </table>

      <div class="card">
        <div class="card-header">
          <h4 translate>Add Admin</h4></div>
        <div class="card-block">
          <form class="form-inline" [formGroup]="addAdminForm" (ngSubmit)="makeAdmin(addAdminForm._value)" style="text-align:center">
            <div class="form-group">
              <input class="form-control" type="text" name="email" formControlName="email" placeholder="Admin email">
            </div>

            <button translate class="btn btn-primary" type="submit" style="float: right"><i class="fa fa-floppy-o"></i> Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="priority" role="tabpanel">
        <table>
         <thead class="thead-default" >
           <tr>
             <th translate>Company</th>
             <th *ngFor="let priority of admin_priorities" >
              {{priority.value}}
              <i class="fa fa-remove" (click)="removePriority(priority)" style="color:red"></i>
             </th>
             <th translate>Logo Size
                <button translate *ngIf="!editLogo" class="btn btn-primary" (click)="editLogo = true"style="padding: -3px"><i class="fa fa-pencil"></i> Edit</button>
                <button translate *ngIf="editLogo" class="btn btn-primary" (click)="saveLogoSize(priorities)"style="padding: -3px"><i class="fa fa-floppy-o"></i> Save</button>
             </th>
           </tr>
         </thead>
         <tr *ngFor="let item of freePriority">
           <td > {{item.name}}</td>
           <td *ngFor="let priority of admin_priorities" >
            <span *ngFor="let company_p of company_priorities">
              <span *ngIf="company_p.value == priority.value && company_p.user_fk == item.user_fk">
                <span *ngIf="setCheck(1)"></span>
              </span>
            </span>
            <span>
              <label class="custom-control custom-checkbox">
                <input [checked]="setChecked" (change)="changePriority($event,priority,false,item)" class="custom-control-input" type="checkbox" />
                <span *ngIf ="setCheck(0)" class="custom-control-indicator"></span>
              </label>
            </span>
           </td>
           <!-- <td>
            <span *ngIf="!editLogo ">{{priority.size}}</span>
            <span *ngIf="editLogo ">
                  <select [(ngModel)]="priority.size" placeholder="priority">
                      <option value="" selected disabled>Logo Size</option>
                      <option value="Large">Large</option>
                      <option value="Medium">Medium</option>
                      <option value="Small">Small</option>
                  </select>
             </span>
           </td> -->
         </tr>
         <br><br>
       </table>
    </div>
    <div class="tab-pane" id="company" role="tabpanel">
      <div #scrollMe style="overflow: scroll; height: 400px">
      <table>
       <thead class="thead-default" >
         <tr>
           <th translate>Name</th>
           <th translate>Priority
             <button translate *ngIf="!editPriority" class="btn btn-primary" (click)="editPriority = true"style="padding: -3px"><i class="fa fa-pencil"></i>Edit</button>
             <button translate *ngIf="editPriority" class="btn btn-primary" (click)="saveUpdatePriority(users, companies)"style="padding: -3px"><i class="fa fa-floppy-o"></i>Save</button>
           </th>
           <th translate>Delete </th>
         </tr>
       </thead>
       <tr *ngFor="let company of companies; let i = index">
         <td> <a md-line routerLink='/profile-company/{{company.id}}'> {{company.name}} </a> </td>
         <td ><span *ngIf="!editPriority ">{{company.priority}}</span>
              <span *ngIf="editPriority ">
                   <select [(ngModel)]="company.priority" placeholder="priority">
                       <option translate value="" selected disabled>Priority</option>
                       <option value="HIGH">HIGH</option>
                       <option value="MIDDLE">MIDDLE</option>
                       <option value="LOW">LOW</option>
                       <option value="ONDERNEMERSDAG">ONDERNEMERSDAG</option>
                       <option value="FREE">FREE</option>
                    </select>
             </span>
        </td>
         <td> <button translate class="btn btn-danger" (click)="deleteCompany(company)">Delete</button> </td>

       </tr>
       <br><br>
     </table>
      </div>
       <div class="card">
           <div class="card-header"><h4 translate>Add new company</h4></div>
           <div class="card-block">
             <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addCompany()" style="text-align:center">
               <div class="form-group">
                 <input class="form-control" type="text" name="name" formControlName="name" placeholder="{{'Company name' | translate}}">
               </div>
               <div class="form-group">
                 <input class="form-control" type="text" name="email" formControlName="email" placeholder="Email">
               </div>
               <div class="form-group">
                 <input class="form-control" type="password" name="password" formControlName="password" placeholder="{{'Password' | translate}}">
               </div>
               <div class="form-group">
                   <select class="form-control" type="text" name="priority" formControlName="priority" placeholder="priority">
                       <option value="" selected disabled>Priority</option>
                       <option value="HIGH">HIGH</option>
                       <option value="MIDDLE">MIDDLE</option>
                       <option value="LOW">LOW</option>
                       <option value="ONDERNEMERSDAG">ONDERNEMERSDAG</option>
                       <option value="FREE">FREE</option>
                     </select>
               </div>
               <button translate class="btn btn-primary" type="submit" style="float: right"><i class="fa fa-floppy-o"></i> Add</button>
             </form>
           </div>
         </div>
    </div>
    <div class="tab-pane" id="parameter" role="tabpanel">
      <table>
       <thead class="thead-default" >
         <tr>
           <th>Parameter</th>
           <th translate>Value</th>
         </tr>
       </thead>
       <tr *ngFor="let item of parameters">
         <td>{{item.parameter}}</td>
         <td> {{item.value}} </td>
       </tr>
       <br><br>
     </table>

     <div class="card">
         <div class="card-header"><h4 translate>Add Parameter</h4></div>
         <div class="card-block">
           <form class="form-inline" [formGroup]="addParamForm" (ngSubmit)="addParam(addParamForm._value)" style="text-align:center">
             <div class="form-group">
               <input class="form-control" type="text" name="parameter" formControlName="parameter" placeholder="parameter">
               <input class="form-control" type="text" name="value" formControlName="value" placeholder="{{'Value' | translate}}">

             </div>

             <button translate class="btn btn-primary" type="submit" style="float: right"><i class="fa fa-floppy-o"></i> Add</button>
           </form>
         </div>
       </div>
    </div>
    <div class="tab-pane" id="contact" role="tabpanel">
      <div #scrollMe style="overflow: scroll; height: 400px">
        <table>
         <thead class="thead-default" >
           <tr>
             <th translate>Name</th>
             <th>Email
               <button translate *ngIf="!editEmail" class="btn btn-primary" (click)="editEmail = true"style="padding: -3px"><i class="fa fa-pencil"></i> Edit</button>
               <button translate *ngIf="editEmail" class="btn btn-primary" (click)="editEmail = false"style="padding: -3px"><i class="fa fa-floppy-o"></i> Cancel</button>
             </th>
             <th translate>Phone Number
               <button translate *ngIf="!editPhone" class="btn btn-primary" (click)="editPhone = true"style="padding: -3px"><i class="fa fa-pencil"></i> Edit</button>
               <button translate *ngIf="editPhone" class="btn btn-primary" (click)="editPhone = false"style="padding: -3px"><i class="fa fa-floppy-o"></i> Cancel</button>
             </th>
           </tr>
         </thead>
         <tr *ngFor="let company of adminCompanycontacts;">
           <td> <a md-line routerLink='/profile-company/{{company.company_fk}}'> {{company.name}} </a> </td>
           <td>
             <span *ngIf="editEmail == true ">
                 <input  type="text" (keyup.enter)="keyDownFunctionMail($event.target.value, company)" placeholder="{{company.email}}" />
             </span>
             <span *ngIf="editEmail == false"> {{company.email}} </span>
           </td>
           <td>
             <span *ngIf="editPhone == true">
                 <input  type="text" (keyup.enter)="keyDownFunctionPhone($event.target.value, company)" placeholder="{{company.phone}}" />
             </span>
             <span *ngIf="editPhone == false"> {{company.phone}} </span>
           </td>

         </tr>
         <br><br>
        </table>
      </div>
    </div>
  </div>

</div>
