.btn {
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem
}

table {
  text-align :left;
  border-collapse: separate;
  border-spacing: 20px 0;
}

#ul1 {
  background-color: #f7f7f9;
}

#div1 {
  padding:2%;
}

.text-align-center {
  text-align:center;
}

.floatright {
  float : right;
}

.padding-3 {
  padding: -3px;
}

.divA {
  overflow: scroll;
  height: 400px;
}
