<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="jumbotron" style="background-color:white">
    <div *ngIf="contacts" class="container">
        <button translate *ngIf="editMode  && auth.currentUser.role == 'Company'" (click)="saveContact(contacts)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <button translate *ngIf="!editMode  && auth.currentUser.role == 'Company'" (click)="editMode = true" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
        <h2 translate>Contact</h2><br><br>


        <div class="row">
            <label translate class="col-md-2 control-label" for="email">Email: </label>
            <div class="col-md-9">
                <input id="email" name="email" class="form-control" *ngIf="editMode" [(ngModel)]="contacts.email" placeholder="Write your personal Email address" type="text" (keyup.enter)="saveContacts(contacts)">
                <p *ngIf="!editMode">{{contacts.email}}</p>
            </div>
        </div><br>

        <div class="row">
            <label translate class="col-md-2 control-label" for="phone">Phone number: </label>
            <div class="col-md-9">
                <input id="phone" name="phone" class="form-control" *ngIf="editMode" [(ngModel)]="contacts.phone" placeholder="Write your phone number" type="text" (keyup.enter)="saveContacts(contacts)">
                <p *ngIf="!editMode">{{contacts.phone}}</p>
            </div>
        </div><br>

        <div class="row">
            <label translate class="col-md-2 control-label" for="address">Address: </label>
            <div class="col-md-9">
                <input id="address" name="address" class="form-control" *ngIf="editMode" [(ngModel)]="contacts.address" placeholder="Write your address" type="text" (keyup.enter)="saveContacts(contacts)">
                <p *ngIf="!editMode">{{contacts.address}}</p>
                <!-- <div>
                    <input [hidden]="!editMode" id="address" class="form-control" #search [formControl]="searchControl" placeholder="Fill in an address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text">
                </div>
                <agm-map *ngIf="!editMode && clickMap" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map> -->
            </div>
        </div>
        <!-- <button translate *ngIf="!editMode && !clickMap" (click)="showMap()" class="btn btn-sm btn-primary"> Show Map</button> -->
    </div>
</div><hr>
