#skillsText{
    padding-right: 100px;
}

#skillsTitle{
    font-size: 20px;
}

.floatright{
    float: right;
}

#div1{
    display:inline-block;padding:1%
}

#div2{
    margin-top: 10px;
}

#filters{
    width:250px
}