/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

// $container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

// $gutter: 30px;
// $border-width: 4px;
// $dot-diameter: 8px;

// body {
//   background: linear-gradient(55deg,#4E75B9 30%,#5CBF98 90%);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
//   width: 100vw;
//   margin: 0;
//   padding: 12vh 100px;
//   font-family: 'Source Sans Pro', arial, sans-serif;
//   font-weight: 300;
//   color: #333;
//   box-sizing: border-box;
//   * {
//     box-sizing: border-box;
//   }
// }

// .timeline {
//     margin-left: 28%;
//   width:100%;
//   max-width:800px;
//   background:#fff;
//   padding: 100px 50px;
//   position: relative;
//   box-shadow: $container-shadow;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0px;
//     left:calc(33% + 15px); //$gutter/2
//     bottom: 0px;
//     width: $border-width;
//     background: #ddd;
//   }
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   } 
// }

// .entry {
//   clear: both;
//   text-align: left;
//   position: relative;
//   .title {
//     margin-bottom: .5em;
//     float: left;
//     width: 33%;
//     padding-right: $gutter;
//     text-align: right;
//     position: relative;
//     &:before {
//       content: '';
//       position: absolute;
//       width: $dot-diameter;
//       height: $dot-diameter;
//       border: $border-width solid salmon;
//       background-color:#fff;
//       border-radius:100%;
//       top: 15%;
//       right: -$dot-diameter;
//       z-index: 99;
//     }
//     h3 {
//       margin: 0;
//       font-size: 120%;
//     }
//     p {
//       margin: 0;
//       font-size: 100%;
//     }
//   }
//   .body {
//     margin: 0 0 3em;
//     float: right;
//     width: 66%;
//     padding-left: $gutter;
//     p {
//       line-height: 1.4em;
//       &:first-child {
//         margin-top: 0;
//         font-weight: 400;
//       }
//     }
//     ul {
//       color:#aaa;
//       padding-left: 0;
//       list-style-type: none;
//       li:before {
//         content: "–";
//         margin-right: .5em;
//       }
//     }
//   }
// }
