#skillsText{
    padding-right: 100px;
}

#skillsTitle{
    font-size: 20px;
}

#div1{
    background-color: white;
}

.floatright{
    float: right;
}

#div2{
    display:inline-block;padding:1%;
}

#div3{
    margin-top: 10px;
}

#filters{
    width:250px;
}