<app-toast [message]="toast.message"></app-toast>

<div class="jumbotron" style="background: white">
  <div id="registerpage" class="mx-auto">
    <div class="card text-center">
      <div class="card-header" style="font-size: 30px">
          <img src="../assets/img/Industria.PNG" width="45" height="60">
          <p translate style="margin-left:8%">
            Register
            <select id="languageselector" class="custom-select" (change)="switchLanguage($event.target.value)">
                <option selected value="en" (ngModelChange)="switchLanguage('en')">EN</option>
                <option value="nl" (ngModelChange)="switchLanguage('nl')">NL</option>
            </select>
          </p>
      </div><br>
      <p id="underconstruction" translate>login under construction</p>
      <div class="card-block">
        <form method="POST" action="api/send" [formGroup]="registerForm" (ngSubmit)="register()">

          <div *ngIf="myVar" id="register" class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" [(ngModel)]="rnumber" name="rnumber" formControlName="rnumber" placeholder="rnumber" autofocus>
          </div>

          <div id="register" class="input-group" [ngClass]="setClassEmail()">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>           
            <input (click)="addTip()" class="form-control" [(ngModel)]="emailStudent" type="email" name="email" formControlName="email" placeholder="Email" email pattern="[r]{1}[Z0-9]{7}[@kuleuven]{2,}[.]{1}[be]{2}">
            <i id="info" (click)="addTip()"  class="fa fa-info-circle" aria-hidden="true"></i> 
          </div><br>

          <!-- <div id="register" class="input-group" [ngClass]="setClassPassword()">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input class="form-control" [(ngModel)]="passwordStudent" type="password" name="password" formControlName="password" placeholder="Password">
          </div><br> -->

          <button translate class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> RegisterButton</button>
        </form>
      </div>
    </div><br><br>
  </div>
</div>

<footer class="footer">
  <profile-footer></profile-footer>
</footer>