<div class="container">
  <div style="margin-top: 15%; width: 100%; ">
      <div style=" width:70%; border-radius: 1%;border: 2px solid #bbbbbb; margin-left: auto; margin-right:auto">

        <div style="width:100%;">
            <div style="text-align: center;     font-size: 30px; background: #d4d4d4;height: 50px;"> Search </div>

            <div style="padding:1%;margin-bottom:3%">

                <div class="form-group">
                  <input style="float:left; width:70%" type="text" class="form-control" id="filter" placeholder="Filter on {{model.filter}} " [(ngModel)]="searchText">
                    <select style="float:left;width:30%"class="form-control" id="filters" required [(ngModel)]="model.filter" name="filter">
                        <option *ngFor="let pow of filters" [value]="pow">{{pow}}</option>
                    </select>
                </div>

            </div>

            <table   class="list1 table table-hover"  style="border: 1px solid #dedede; width:100%">

              <tr style="width:100%">
                <th (click)="sortVacature()">Vacature</th>
                <th (click)="sortType()">Type</th>
                <th (click)="sortCompanyName()">Company</th>
              </tr>
              <tr *ngFor="let item of vacatures | FilterVacature : searchText : model.filter |  paginate: { itemsPerPage: 5, currentPage: p }" style="width:100%">
                <td> <a href="/profile-student/{{item.id}}">{{item.vacature_name}} </a> </td>
                <td>{{item.type}}</td>
                <td>{{item.company_name}}</td>
              </tr>
            </table>

            <pagination-controls style="text-align: center;"class="my-pagination" (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>



  </div>

</div>
