<div class="container" *ngIf="auth.currentUser.role == 'Student' || auth.currentUser.admin == '1'">
  <div style="margin-top: 15%; width: 100%; ">
    <div style=" float:left; width:70%; border-radius: 1%;border: 2px solid #bbbbbb; margin-left: auto; margin-right:auto">

      <div style="width:100%;">
        <div style="text-align: center;     font-size: 30px; background: #d4d4d4;height: 50px;"> Search </div>

        <div style="padding:1%;margin-bottom:3%">

          <div class="form-group">
            <input style="float:left; width:70%" type="text" class="form-control" id="filter" placeholder="Filter on {{model.filter}} " [(ngModel)]="searchText">
            <select style="float:left;width:30%" class="form-control" id="filters" required [(ngModel)]="model.filter" name="filter">
              <option *ngFor="let pow of filters" [value]="pow">{{pow}}</option>
            </select>
          </div>

        </div>

        <table class="list1 table table-hover" style="border: 1px solid #dedede; width:100%">

          <tr style="width:100%">
            <th (click)="sortVacature()">Vacature</th>
            <th (click)="sortType()">Type</th>
            <th (click)="sortCompanyName()">Company</th>
          </tr>
          <tr *ngFor="let item of vacatures  |  paginate: { itemsPerPage: 5, currentPage: p }" style="width:100%">
          <tr *ngFor="let item of vacatures | FilterVacature : searchText : model.filter |  paginate: { itemsPerPage: 5, currentPage: p }">
            <td>
              <a href="/vacature-company/{{item.vacature_id}}">{{item.vacature_name}} </a>
            </td>
            <td>{{item.type}}</td>
            <td>{{item.company_name}}</td>
          </tr>
        </table>

        <pagination-controls style="text-align: center;" class="my-pagination" (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>

    <div style="float: right; margin-top:9%; width: 25%; border: 1px solid #d4d4d4; border-radius: 1%; padding:6px">
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Companies
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <input style="float:left; width:100%; margin-bottom: 10px" type="text" class="form-control" id="filterskill" placeholder="Filter" [(ngModel)]="searchSkill">
              <div class="form-check form-check-inline" #scrollMe style="overflow: scroll; height: 110px; width:200px">
                  <ul class="form-check-label"  *ngFor="let item of companies | FilterVacature : searchSkill : 'Com'  ">
                    <li>
                    <span> <a href="/profile-company/{{item.id}}"> {{item.name}} </a></span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<div  *ngIf="auth.currentUser.role != 'Student' && auth.currentUser.admin != '1'">
  <app-not-found> </app-not-found>
</div>
