<div class="container" *ngIf="auth.currentUser.role == 'Student' || auth.currentUser.admin == '1'">
  <div class="containerA">
    <div class="containerB">

        <div class="table-responsive containerC" translate > Search Vacature </div>

        <div class="containerD">

          <div class="form-group">
            <input  type="text" class="form-control" id="filter" placeholder="{{'Filter on' | translate}}  {{model.filter}} " [(ngModel)]="searchText">
            <select class="form-control" id="filters" required [(ngModel)]="model.filter" name="filter">
              <option *ngFor="let pow of filters" [value]="pow">{{pow}}</option>
            </select>
          </div>

        </div>

        <table class="list1 table table-hover table-responsive">

          <tr >
            <th translate (click)="sortVacature()">Vacatures</th>
            <th translate (click)="sortType()">Type</th>
            <th translate (click)="sortCompanyName()">Company</th>
          </tr>
          <tr *ngFor="let item of vacatures  |  paginate: { itemsPerPage: 5, currentPage: p }" >
          <tr *ngFor="let item of vacatures | FilterVacature : searchText : model.filter |  paginate: { itemsPerPage: 5, currentPage: p }">
            <td>
              <a href="/vacature-company/{{item.vacature_id}}">{{item.vacature_name}} </a>
            </td>
            <td>{{item.type}}</td>
            <td>{{item.company_name}}</td>
          </tr>
        </table>

        <pagination-controls style="text-align: center;" autoHide="true" directionLinks="true" nextLabel="{{'Next' | translate}}" previousLabel="{{'Previous' | translate}}" class="my-pagination" (pageChange)="p = $event"></pagination-controls>

    </div>

    <div class=".hidden-xs-down containerE" >
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a translate data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Companies
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block table-responsive block1">
              <input type="text" class="form-control" id="filterskill" placeholder="Filter" [(ngModel)]="searchSkill">
              <div class="form-check form-check-inline" #scrollMe >
                  <ul class="form-check-label"  *ngFor="let item of companies | FilterVacature : searchSkill : 'Com'  ">
                    <li>
                    <span> <a href="/profile-company/{{item.id}}"> {{item.name}} </a></span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<div  *ngIf="auth.currentUser.role != 'Student' && auth.currentUser.admin != '1'">
  <app-not-found> </app-not-found>
</div>
