<!-- BEGIN CALENDAR CODE -->

<div class="jumbotron" style="background-color: white">
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
  </ng-template>

  <h2 id="calendarTitle">Industria Event Calendar</h2>
  <div id="calendar">
    <mwl-demo-utils-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>
    
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
    </div>
  </div><br>

<!-- END CALENDAR CODE -->
  

<!-- BEGIN EDIT CALENDAR CODE -->

  <h3 *ngIf="false">
    Edit events
    <button *ngIf = "!editMode"
      class="btn btn-primary pull-right"
      (click)="editMode = true">
      Edit
    </button>
    <button *ngIf = "editMode"
      class="btn btn-primary pull-right"
      (click)="addEvent(events)">
      Add New Event
    </button>
    <div class="clearfix"></div>
  </h3>

  <table id="tableEvents" *ngIf="false" class="table table-bordered">
      
    <thead>
      <tr>
        <th>Title</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th *ngIf="editMode">Save</th>
        <th *ngIf="editMode">Remove</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let event of events; let index = index">
        <td>
          <input *ngIf="editMode"
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
          <p *ngIf="!editMode">{{event.title}}</p>
        </td>
        <td>
          <mwl-demo-utils-date-time-picker *ngIf="editMode"
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
          <p *ngIf="!editMode">{{event.start}}</p>
        </td>
        <td>
          <mwl-demo-utils-date-time-picker *ngIf="editMode"
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            placeholder="Not set">
          </mwl-demo-utils-date-time-picker>
          <p *ngIf="!editMode">{{event.end}}</p>
        </td>
        <td *ngIf="editMode">
          <button
            class="btn btn-success"
            (click)="saveEvent(event, index)">
            Save
          </button>
        </td>
        <td *ngIf="editMode">
          <button
          class="btn btn-danger"
          (click)="deleteEvent(event)">
          Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- END EDIT CALENDAR CODE -->


<!-- BEGIN SPONSORS CODE -->

<div class="jumbotron">
  <hr style="height:2px;border:none;color:#333;background-color:#333;">
  <h1 style="text-align: center">Who we work with</h1>
  <hr style="height:2px;border:none;color:#333;background-color:#333;"><br>  
  <div class="row">
    <p  *ngFor="let item of highImg; let index = index" style="margin: auto">
      <a [href] ="companyProfile + item.id">
        <img id="highPriority" [src]='sanitizer.bypassSecurityTrustResourceUrl(item.im)'>
      </a>
    </p>
  </div>
  
  <hr>

  <div class="row">
    <p  *ngFor="let item of middleImg; let index = index" style="margin: auto">
      <a [href] ="companyProfile + item.id">
        <img id="middlePriority" [src]='sanitizer.bypassSecurityTrustResourceUrl(item.im)'>
      </a>
    </p>
  </div>

  <hr>

  <div class="row">
    <p  *ngFor="let item of lowImg; let index = index" style="margin: auto">
      <a [href] ="companyProfile + item.id">
        <img id="lowPriority" [src]='sanitizer.bypassSecurityTrustResourceUrl(item.im)'>
      </a>
    </p>
  </div>
</div>

<br><br>

<table>
  <thead class="thead-default" >
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tr *ngFor="let company of companies">
    <td> <a md-line routerLink='/profile-company/{{company.id}}'> {{company.name}} </a> </td>
  </tr>
  <br><br>
</table>

<!-- END SPONSORS CODE -->


<!-- BEGIN ADD NEW COMPANY CODE -->

<div class="card">
    <div class="card-header"><h4>Add new company</h4></div>
    <div class="card-block">
      <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addCompany()" style="text-align:center">
        <div class="col-md-2">
          <div class="form-group">
            <input class="form-control" type="text" name="email" formControlName="email" placeholder="Name Company">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input class="form-control" type="text" name="rnumber" formControlName="rnumber" placeholder="Company Number">
          </div>
        </div>
        <div class="col-md-2">
        <div class="form-group">
          <input class="form-control" type="text" name="password" formControlName="password" placeholder="Password">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <select class="form-control" type="text" name="role" formControlName="role" placeholder="role">
                <option value="" selected disabled>Role</option>
                <option value="Student">Student</option>
                <option value="Company">Company</option>
                <option value="Admin">Admin</option>
              </select>
        </div>
      </div>
        <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Add</button>
      </form>
    </div>
  </div>

<!-- END ADD NEW COMPANY CODE -->