


td {
  width: 20%;
  margin-top: 5%;
}

table {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;


}


p{
  width: 60%;
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;
  color: #de4545;
  font-size: 30px;
  padding: 10px;
  background: #f7f7f7;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
