<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="jumbotron">
    <div *ngIf="contacts[0]" class="container">
        <button translate *ngIf="editMode && contactChecked  && auth.currentUser.role == 'Student'" (click)="saveContact(contacts)" class="btn btn-sm btn-primary floatright"><i class="fa fa-floppy-o"></i> Save</button>
        <button translate *ngIf="!editMode && contactChecked && auth.currentUser.role == 'Student'" (click)="editMode = true" class="btn btn-sm btn-primary floatright"><i class="fa fa-pencil"></i> Edit</button>
        <h2 translate>Contact</h2><br><br>


        <div class="row" *ngIf="contactChecked">
            <label translate class="col-md-2 control-label" for="email">Email: </label>
            <div class="col-md-9">
                <input id="email" name="email" class="form-control" *ngIf="editMode" [(ngModel)]="contacts[0].email" placeholder="{{'Email Placeholder' | translate}}" type="text" (keyup.enter)="save()">
                <p *ngIf="!editMode">{{contacts[0].email}}</p>
            </div>
        </div><br>

        <div class="row" *ngIf="contactChecked ">
            <label translate class="col-md-2 control-label" for="phone">Phone number: </label>
            <div class="col-md-9">
                <input id="phone" name="phone" class="form-control" *ngIf="editMode" [(ngModel)]="contacts[0].phone" placeholder="{{'Phone Placeholder' | translate}}" type="text" (keyup.enter)="save()">
                <p *ngIf="!editMode">{{contacts[0].phone}}</p>
            </div>
        </div><br>

        <div class="row" *ngIf="contactChecked">
            <label translate class="col-md-2 control-label" for="province">Province: </label>
            <div class="col-md-9">
                <input id="province" name="province" class="form-control" *ngIf="editMode" [(ngModel)]="contacts[0].county" placeholder="{{'County Placeholder' | translate}}" type="text" (keyup.enter)="save()">
                <p *ngIf="!editMode">{{contacts[0].county}}</p>
            </div>
        </div><br>

        <div class="row" *ngIf="contactChecked">
            <label translate class="col-md-2 control-label" for="city">City: </label>
            <div class="col-md-9">
                <input id="city" name="city" class="form-control" *ngIf="editMode" [(ngModel)]="contacts[0].city" placeholder="{{'City Placeholder' | translate}}" type="text" (keyup.enter)="save()">
                <p *ngIf="!editMode">{{contacts[0].city}}</p>
            </div>
        </div><br>

        <br><br>
        <div *ngIf="auth.currentUser.role == 'Student'" class="text-center">
            <label class="custom-control custom-checkbox">
                <input [checked]="contactChecked" class="custom-control-input" type="checkbox" [(ngModel)]="contactChecked" (change)= "changeChecked($event, student)"/>
                <span id="checkboxContact" class="custom-control-indicator"></span>
                <span translate class="custom-control-description">Contact check</span>
            </label>
        </div>
    </div>

</div>
