.nav-link{
  color: white;
}

.nav-link:hover{
  color: rgb(218, 208, 208);
}

#nav{
  background-color: #4c4c4c;
}

.navbar-brand{
  width: 100px;
}

#languageselector{
  width: 60px;
  height: 30px;
  font-size: 13px;
  float: right;
}

#homeid{
  font-size: 25px;
}

#profileid{
  font-size: 25px;
}

#jobopeningsid{
  font-size: 25px;
}

#industriaid{
  font-size: 25px;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey
    ;
}

.navbar-toggler-icon {
  float: right;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.i-profile {
  font-size:78%;
  margin-left:1%;
}

#i-profile1 {
  font-size:78%;
  margin-left:1%;
  color:white;
}

#i-profile2 {
   font-size:27px;
   color:white;
}
