<nav id="nav" class="navbar fixed-top navbar-toggleable-md navbar-dark bg-faded" style="background: #4c4c4c">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/Industria.PNG" width="45" height="60" alt="">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item">
            <a routerLink="/" class="ab nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item dropdown active">
          <a class="ab nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list"></i> {{'Profile' | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a translate class=" ab nav-link" href="#">JobOpenings</a>
        </li>
        <li class="nav-item">
          <a translate class="ab nav-link" href="#">Industria</a>
        </li>
      </ul>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <button (click)="switchLanguage('en')">English</button>
      <button (click)="switchLanguage('nl')">Nederlands</button>
    </div>
  </nav>