.nav-link{
  color: white;
}

.nav-link:hover{
  color: rgb(218, 208, 208);
}

#nav{
  background-color: #4c4c4c;
  height: 100px;
}

#languageselector{
  width: 180px;
}

#homeid{
  font-size: 25px;
}

#profileid{
  font-size: 25px;
}

#jobopeningsid{
  font-size: 25px;
}

#industriaid{
  font-size: 25px;
}


