<nav id="nav" class="navbar fixed-top navbar-toggleable-md navbar-dark bg-faded" style="background: #4c4c4c">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/Industria.PNG" width="45" height="60">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item">
            <a routerLink="/students" class="ab nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <p id="homeid"><i class="fa fa-home"></i> Home</p>
            </a>
        </li>
        <li class="nav-item dropdown active">
          <a [routerLink] ="profileString + messageId" class="ab nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <p translate id="homeid"><i class="fa fa-list"></i> Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a id="jobopeningsid" translate class=" ab nav-link" href="#">JobOpenings</a>
        </li>
        <li class="nav-item">
          <a id="industriaid" translate class="ab nav-link" href="#">Industria</a>
        </li>
      </ul>
    </div>

    <select id="languageselector" class="custom-select" (change)="switchLanguage($event.target.value)">
      <option selected>Choose a language</option>
      <option value="en" (ngModelChange)="switchLanguage('en')">English</option>
      <option value="nl" (ngModelChange)="switchLanguage('nl')">Nederlands</option>
    </select>

    <button (click)="logout()">Logout</button>
  </nav>