/* Colors: http://brandcolors.net/ */
/* Icons: https://fortawesome.github.io/Font-Awesome/icons/ */

/* Utils */
$darken-percentage: 5%;

a {
  margin-top: 10px;
}

td {
  width: 20%;


}


table {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5%;
  background-color: white;


}
.row {
  float: right;
}

#profilepic{
  max-height: 400px;
  max-width: 400px;
}

#editText{
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  height: 50px;
}

#editName{
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  height: 90px;
}

#divprofile{
  padding-left: 40px;
  margin-top:6%;
}

#checkboxCV{
  background-color: #888888;
  border: 2px solid #828282;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.20rem;
}

.link
{
   color:aqua;
   text-decoration: none;
   background-color: none;
}
