<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="jumbotron">


    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-center" style="margin-top:4%">
                <textarea id="editName" *ngIf="editMode" [(ngModel)]="company.name" placeholder="Company name" rows="1" (keyup.enter)="save(company)"></textarea>
                <p *ngIf="!editMode">{{company.name}}</p>
            </h1>

            <div id="divprofile" class="mx-auto" style="margin-top:6%">
                <img id="profilepic" [src]="sanitizer.bypassSecurityTrustResourceUrl(im)">
                <div class="file-upload">
                    <div class="file-upload" *ngIf="editMode">
                        <br>
                        <button (click)="add()">Upload</button>
                        <input id="custom-input" type="file" accept="image/*" (change)="fileChangeListener($event, company)">
                    </div>
                </div>
            </div>

            <h3>
                <textarea id="editText" *ngIf="editMode" [(ngModel)]="company.url" placeholder="URL of your website" rows="1" (keyup.enter)="save(company)"></textarea>
                <a [href]="https + company.url" target="_blank"  *ngIf="!editMode">{{company.url}}</a>
            </h3>

            <div class="row" style="float : right">
                <button translate class="btn btn-sm btn-primary" *ngIf="!editMode" (click)="editMode = true"><i class="fa fa-pencil"></i> Edit</button>
                <button translate class="btn btn-sm btn-primary" *ngIf="editMode" (click)="save(company)"><i class="fa fa-floppy-o"></i> Save</button>
            </div><br>

            <div>
                <textarea id="editText" *ngIf="editMode" [(ngModel)]="company.feature1" placeholder="Feature 1" rows="1" (keyup.enter)="save(company)"></textarea>
                <button class="btn btn-sm btn-secondary" *ngIf="!editMode">{{company.feature1}}</button>

                <textarea id="editText" *ngIf="editMode" [(ngModel)]="company.feature2" placeholder="Feature 2" rows="1" (keyup.enter)="save(company)"></textarea>
                <button class="btn btn-sm btn-secondary" *ngIf="!editMode">{{company.feature2}}</button>

                <textarea id="editText" *ngIf="editMode" [(ngModel)]="company.feature3" placeholder="Feature 3" rows="1" (keyup.enter)="save(company)"></textarea>
                <button class="btn btn-sm btn-secondary" *ngIf="!editMode">{{company.feature3}}</button>
            </div>
        </div>
    </div>

</div>
