<!-- Nav tabs -->
<div class="jumbotron">
<div  style="width: 50%; margin:auto">
  <div  style="margin-top: 5%; border: 1px solid #dfdfdf; border-radius: 0.25rem">
      <ul class="nav nav-tabs" role="tablist" style="background-color: #f7f7f9;">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#admin" role="tab">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#company" role="tab">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#priority" role="tab">Company Priorities</a>
      </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content table-responsive" style="padding:2%">
          <div class="tab-pane active" id="admin" role="tabpanel">
                <table>
                 <thead class="thead-default" >
                   <tr>
                     <th>Username</th>
                     <th>Remove as admin</th>
                   </tr>
                 </thead>
                 <tr >
                   <td>TEST</td>
                   <td>  </td>
                 </tr>
                 <br><br>
               </table>

              <div class="tab-pane" id="priority" role="tabpanel">
                <table>
                 <thead class="thead-default" >
                   <tr>
                     <th style="padding:1%">Company</th>
                     <th style="padding:1%">Has a profile page</th>
                   </tr>
                 </thead>
                 <tr>
                   <td  style="padding:1%"></td>
                   <td  style="padding:1%"></td>
                 </tr>
                 <br><br>
               </table>
              </div>

              <div class="tab-pane" id="company" role="tabpanel">
                <table>
                 <thead class="thead-default" >
                   <tr>
                     <th>Name</th>
                     <th>Email</th>
                   </tr>
                 </thead>
                 <tr >
                   <td></td>
                   <td></td>
                 </tr>
                 <br><br>
               </table>
              </div>
          </div>
      </div>

  </div>
</div>
</div>
