.jumbotron {
  background-color: white;
  text-align:center
}

.background-f7 {
  background-color: #f7f7f9;
}

.padding2 {
  padding: 2%
}

.tabPanel1 {
  width: 60%;
  margin: auto;
}

.margin-top10 {
  margin-top: 10%
}

#div1 {
  margin-top: 5%;
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  height: 700px;
  display:inline-block;
}
