<div class="jumbotron" style="background-color: white">
    <div class="container">
        <button translate *ngIf="editMode" (click)="save(student)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <button translate *ngIf="!editMode" (click)="editMode = true" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
        <h2 translate>Language knowledge</h2><br>

        <div class="row">
            <div class="col-md-4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[0]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode" style="font-size : 20px">{{student.language[0]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar1
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[0]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[1]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList1 *ngIf="editMode" (onSelect)="updateProgressBar($event, 1, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>

            </div>
            <div class="col-md-4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[1]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode">{{student.language[1]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar2
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[2]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[3]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList2 *ngIf="editMode" (onSelect)="updateProgressBar($event, 2, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countLanguage >= 1">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[2]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode">{{student.language[2]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar3
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[4]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[5]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList3 *ngIf="editMode" (onSelect)="updateProgressBar($event, 3, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngIf="student.countLanguage >= 2">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[3]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode">{{student.language[3]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar4
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[6]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[7]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList4 *ngIf="editMode" (onSelect)="updateProgressBar($event, 4, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countLanguage >= 3">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[4]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode">{{student.language[4]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar5
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[8]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[9]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList5 *ngIf="editMode" (onSelect)="updateProgressBar($event, 5, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countLanguage >= 4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.language[5]" placeholder="Insert a language" rows="1" (keyup.enter)="save()"></textarea>
                    <p id="languageTitle" *ngIf="!editMode">{{student.language[5]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar6
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.languageValue[10]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="languageText" class="text-center">
                    <p *ngIf="!editMode">{{student.languageValue[11]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList6 *ngIf="editMode" (onSelect)="updateProgressBar($event, 6, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
        </div>
        <button *ngIf="editMode" class="btn btn-sm btn-danger" (click)="delete(student)" style="float : right"><i class="fa fa-trash"></i> Delete</button>
        <button *ngIf="editMode" class="btn btn-sm btn-success" (click)="add(student)" style="float : right"><i class="fa fa-plus"></i> Add</button>
    </div>
</div>
