<app-toast [message]="toast.message"></app-toast>

<div class="jumbotron" style="background: white">
    <div id="loginpage" class="mx-auto">
        <div class="card text-center">
            <div class="card-header" style="font-size: 30px">
                <img src="../assets/img/Industria.PNG" width="45" height="60">
                <p translate style="margin-left:8%">
                    Reset Password
                    <select id="languageselector" class="custom-select" (change)="switchLanguage($event.target.value)">
                        <option selected value="en" (ngModelChange)="switchLanguage('en')">EN</option>
                        <option value="nl" (ngModelChange)="switchLanguage('nl')">NL</option>
                    </select>
                </p>

            </div>
            <br><br>

                <div id="login" class="input-group" >
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input [(ngModel)]="emailStudent" type="email" name="email" placeholder="Email" email pattern="[r||s]{1}[Z0-9]{7}[@kuleuven]{2,}[.]{1}[be]{2}" autofocus>
                </div>
                <br>
                <br>
                <button  style="margin-bottom: 2%;"class="btn btn-primary" type="submit" (click)="nodemailer(emailStudent)"><i class="fa fa-sign-in"></i> Send Mail</button>

        </div>
    </div>
</div>

<footer class="footer">
    <profile-footer></profile-footer>
</footer>
