<div class="jumbotron">
    <div class="container">
        <button translate *ngIf="editMode" (click)="save(student)" style="float:right" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
        <button translate *ngIf="!editMode" (click)="editMode = true" class="btn btn-sm btn-primary" style="float:right"><i class="fa fa-pencil"></i> Edit</button>
        <h2 translate>Skills</h2>

        <div class="row">
            <div class="col-md-4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[0]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[0]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar1
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[0]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[1]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList1 *ngIf="editMode" (onSelect)="updateProgressBar($event, 1, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
                
            </div>
            <div class="col-md-4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[1]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[1]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar2
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[2]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[3]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList2 *ngIf="editMode" (onSelect)="updateProgressBar($event, 2, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[2]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[2]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar3
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[4]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[5]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList3 *ngIf="editMode" (onSelect)="updateProgressBar($event, 3, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngIf="student.countExperiences >= 1">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[3]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[3]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar4
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[6]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[7]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList4 *ngIf="editMode" (onSelect)="updateProgressBar($event, 4, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countExperiences >= 2">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[4]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[4]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar5
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[8]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[9]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList5 *ngIf="editMode" (onSelect)="updateProgressBar($event, 5, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countExperiences >= 3">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[5]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[5]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar6
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[10]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[11]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList6 *ngIf="editMode" (onSelect)="updateProgressBar($event, 6, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngIf="student.countExperiences >= 4">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[6]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[6]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar7
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[12]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[13]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList7 *ngIf="editMode" (onSelect)="updateProgressBar($event, 7, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countExperiences >= 5">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[7]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[7]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar8
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[14]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[15]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList8 *ngIf="editMode" (onSelect)="updateProgressBar($event, 8, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
            <div class="col-md-4" *ngIf="student.countExperiences >= 6">
                <div style='margin-top: 10px;'>
                    <textarea *ngIf="editMode" [(ngModel)]="student.skills[8]" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{student.skills[8]}}</p>
                </div>
                <jqxProgressBar #jqxProgressBar9
                    [animationDuration]="1000"
                    [width]="250"
                    [height]="50"
                    [(value)]="student.skillsValue[16]"
                    [showText]="true"
                    [renderText]="renderText"
                    [template]="'primary'">
                </jqxProgressBar>
                <div id="skillsText" class="text-center">
                    <p *ngIf="!editMode">{{student.skillsValue[17]}}</p>
                </div>
                <br>
                <p class="text-center">
                    <jqxDropDownList #jqxDropDownList9 *ngIf="editMode" (onSelect)="updateProgressBar($event, 9, student)" [width]="200" [height]="25" [source]="source" [selectedIndex]="0"></jqxDropDownList>
                </p>
            </div>
        </div>
        <button *ngIf="editMode" class="btn btn-sm btn-danger" (click)="delete(student)" style="float : right"><i class="fa fa-trash"></i> Delete</button>
        <button *ngIf="editMode" class="btn btn-sm btn-success" (click)="add(student)" style="float : right"><i class="fa fa-plus"></i> Add</button>
    </div>
</div>