<app-toast [message]="toast.message"></app-toast>

<div class="jumbotron" style="background: white">
    <div id="loginpage" class="mx-auto">
        <div class="card text-center">
            <div class="card-header" style="font-size: 30px">
                <img src="../assets/img/Industria.PNG" width="45" height="60">
                Login
                <select id="languageselector" class="custom-select" (change)="switchLanguage($event.target.value)">
                    <option selected value="en" (ngModelChange)="switchLanguage('en')">English</option>
                    <option value="nl" (ngModelChange)="switchLanguage('nl')">Nederlands</option>
                </select>
            </div>
            <br><br>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div id="login" class="input-group" [ngClass]="setClassEmail()">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input class="form-control" [(ngModel)]="emailStudent" type="email" name="email" formControlName="email" placeholder="Email" email pattern="[r]{1}[Z0-9]{7}[@kuleuven]{2,}[.]{1}[be]{2}" autofocus>
                </div>
                <br>
                <div id="login" class="input-group" [ngClass]="setClassPassword()">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input class="form-control" [(ngModel)]="passwordStudent" type="password" name="password" formControlName="password" placeholder="Password">
                </div>
                <br>
                <!-- <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button> -->
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                <br><br>
                <br>
                <a href="/register">Do you want to register?</a>
            </form>
        </div>
    </div>
</div>

<footer>
    <profile-footer></profile-footer>
</footer>